body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.squares-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #767676;
    box-shadow: 5px 5px 15px #767676;
}

.square {
    cursor: pointer;
}

.controllers-container {
    display: flex;
}

.control {
    margin: 30px 15px 0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #767676;
}

.clear-button {
    background-color: #913a96;
}

.clear-button:hover {
    background-color: #b263b5;
}
